<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/entertainment.css">
    <title>

    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

       <!--<div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/watch?v=GMT0hJR700Y&ab_channel=LenaDanya"
                style="height: 50%; width:50%"></iframe>
        </div>-->
        <br><br><iframe style="margin-left: 18%;" width="800" height="400" src="https://www.youtube.com/embed/2rhT7pszExY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
<br><br><br>

    <div>
    
        <div class="card" style="width: 18rem; display: inline-block; margin-left: 10%;">
            <img class="card-img-top" src="/static/img/SKETCH.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">SKETCHING</h5>
                <p class="card-text">A sketch is a rapidly executed freehand drawing that is not usually intended as a finished work. A sketch may serve a
                number of purposes:</p>
                <a href="https://www.youtube.com/watch?v=ewMksAbgdBI" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;  margin-left: 5%;">
            <img class="card-img-top" src="/static/img/PAINT.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">PAINTING</h5>
                <p class="card-text">Painting is the practice of applying paint, pigment, color or other medium to a solid surface The medium is commonly
                applied to the base with a brushother implements, such as knives, sponges, and airbrushes, used.</p>
                <a href="https://www.youtube.com/watch?v=djmj3QlOdWg" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;  margin-left: 5%;">
            <img class="card-img-top" src="/static/img/OIL.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">OIL PAINTING</h5>
                <p class="card-text">Oil painting is the process of painting with pigments with a medium of drying oil as the binder. Commonly used drying
                oils include linseed oil, poppy seed oil, walnut oil, and safflower oil.</p>
                <a href="https://www.youtube.com/watch?v=w3hbZfX0Abg" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
                <!--<div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=55ATjCZCjuM&list=RD55ATjCZCjuM&start_radio=1&ab_channel=HarshvardhanSingh-Topic" style="height: 50%; width:50%"></iframe>
    </div>-->
        </div>
    </span>



    <br><br>

</body>

</html>