<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/entertainment.css">
    <title>

    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <div>
        <h1 style="color: blanchedalmond; text-align: center;">VEG</h1><br>
        <div class="card" style="width: 18rem; display: inline-block; margin-left: 10%;">
            <img class="card-img-top" src="/static/img/paneer.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">PANEER BUTTER</h5>
                <p class="card-text">Paneer butter masala is an Indian dish of marinated paneer cheese served in a spiced gravy. It is a vegetarian
                alternative to chicken tikka masala.</p>
                <a href="https://www.youtube.com/watch?v=oYZ--rdHL6I" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;  margin-left: 5%;">
            <img class="card-img-top" src="/static/img/malai.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">MALAI KOFTA</h5>
                <p class="card-text">Very popular Indian vegetarian dish where balls made of potato and paneer are deep fried
                served with a creamy and spiced tomato based curry.</p>
                <a href="https://www.youtube.com/watch?v=Q4cSiiYa6_w" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;  margin-left: 5%;">
            <img class="card-img-top" src="/static/img/KAJU.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">KAJU CURRY</h5>
                <p class="card-text">The kaju masala curry is rich, creamy and on the sweeter side. Its also mild and not spicy, so good for kids. Whole
                cashews as well as powdered cashews are added in the recipe.</p>
                <a href="https://www.youtube.com/watch?v=p3PcRsrSn9s" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
        <br><br><br><br>
    </div>
    <div>
                <h1 style="color: blanchedalmond; text-align: center;">NON-VEG</h1><br>
        <div class="card" style="width: 18rem; display: inline-block; margin-left: 10%;">
            <img class="card-img-top" src="/static/img/CHICKEN.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BUTTER CHICKEN</h5>
                <p class="card-text">Butter Chicken is one of the most popular curries at any Indian restaurant around the world. Aromatic golden chicken
                pieces in an incredible creamy curry sauce</p>
                <a href="https://www.youtube.com/watch?v=a03U45jFxOI" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block; margin-left: 5%;">
            <img class="card-img-top" src="/static/img/LOLIPOP.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">CHICKEN LOLIPOP</h5>
                <p class="card-text">Chicken lollipop recipe – A hot and spicy appetizer made with drummettes or whole chicken wings. I make chicken
                appetizers often at home and it is our mosT</p>
                <a href="https://www.youtube.com/watch?v=lXbLQ1CQlxQ" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block; margin-left: 5%;">
            <img class="card-img-top" src="/static/img/SEEK.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">SEEKH KABAB</h5>
                <p class="card-text">An Indian party's snack platter is incomplete without this delicious appetizer dish of seekh kabab.Succulent kebabs made with minced lamb, marinated in variety of spices</p>
                <a href="https://www.youtube.com/watch?v=ov13Yr3MLCQ&ab_channel=FoodFusion" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div>
    
    </div>


    <br><br>

</body>

</html>