<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/entertainment.css">
    <title>

    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
<div >
<div class="card" style="width: 18rem; display: inline-block; margin-left: 10%;">
    <img class="card-img-top" src="/static/img/crunches.jfif" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">CRUNCHES</h5>
        <p class="card-text">The crunch is a classic core exercise. It specifically trains your abdominal muscles, which are part of your core. Your
        core consists not only of your abs.</p>
        <a href="https://en.wikipedia.org/wiki/Crunch_(exercise)" target="_blank" class="btn btn-primary" >MORE</a>
    </div>
</div>
<div class="card" style="width: 18rem; display: inline-block;  margin-left: 5%;">
<img class="card-img-top" src="/static/img/PUSH UPS.jfif" target="_blank" alt="Card image cap">
<div class="card-body">
    <h5 class="card-title">PUSH UPS</h5>
    <p class="card-text">The pushup may just be the perfect exercise that builds both upper-body and core strength. Done properly, it is a
    compound exercise.</p>
    <a href="https://en.wikipedia.org/wiki/Push-up" target="_blank" class="btn btn-primary">MORE</a>
</div>
</div>
<div class="card" style="width: 18rem; display: inline-block;  margin-left: 5%;">
    <img class="card-img-top" src="/static/img/PLANKS.jfif" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">PLANK</h5>
        <p class="card-text">Strengthening the core is an important aspect of any workout program. Not only does a strong and solid core look good,</p>
        <a href="https://en.wikipedia.org/wiki/Plank_(exercise)" target="_blank" class="btn btn-primary">MORE</a>
    </div>
</div>
<br><br><br><br>
</div>
<div>
    <div class="card" style="width: 18rem; display: inline-block; margin-left: 10%;">
        <img class="card-img-top" src="/static/img/lunges.jfif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">LUNGES</h5>
            <p class="card-text">position of the human body where one leg is positioned forward with knee bent and foot flat on the ground while the
            other leg is not</p>
            <a href="https://en.wikipedia.org/wiki/Lunge_(exercise) " target="_blank" class="btn btn-primary">MORE</a>
        </div>
    </div>
<div class="card" style="width: 18rem; display: inline-block; margin-left: 5%;">
    <img class="card-img-top" src="/static/img/squats.jfif" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">SQUATS</h5>
        <p class="card-text">exercise in which the trainee lowers their hips from a standing position and then stands back up. During the descent of
        a squat while the ankle joint dorsiflexes;</p>
        <a href="https://en.wikipedia.org/wiki/Squat_(exercise)" target="_blank" class="btn btn-primary">MORE</a>
    </div>
</div>
<div class="card" style="width: 18rem; display: inline-block; margin-left: 5%;">
    <img class="card-img-top" src="/static/img/jack.jfif" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">JUMPING JACK</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.a squat while the ankle joint dorsiflexes;</p>
        <a href="https://en.wikipedia.org/wiki/Jumping_jack" target="_blank" class="btn btn-primary">MORE</a>
    </div>
</div>

</div>
        <!--<div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=55ATjCZCjuM&list=RD55ATjCZCjuM&start_radio=1&ab_channel=HarshvardhanSingh-Topic" style="height: 50%; width:50%"></iframe>
    </div>-->
        </div>
    </span>
    <!--<div class="container-left">
            <img src="/static/img/hollywood.jfif"><br>
        <a href="https://www.missmalini.com/category/showbiz/bollywood">Bollywood</a>
      </div>-->


    <br><br>

</body>

</html>