<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/entertainment.css">
    <title>

    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
   


    <br><br>
    <div>
    
        <div class="card" style="width: 50rem;  margin-left: 20%;">
            <img class="card-img-top" src="/static/img/miniclip.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">MINICLIP</h5>
                <p class="card-text">Miniclip is a Swiss free browser game website. Launched in 2001, it is the world's largest privately owned online gaming website.[1] It was started in 2001 </p>
                <a href="https://www.miniclip.com/games/en/#privacy-settings" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div><br><br>
        <div class="card" style="width: 50rem;  margin-left: 20%;">
            <img class="card-img-top" src="/static/img/y8.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Y8</h5>
                <p class="card-text">Play free games at Y8. The top categories are 2 player games and dress up games. However, simulation games and cooking
                games are also popular among ...</p>
                <a href="https://www.y8.com/" target="_blank" class="btn btn-primary">MORE</a>
            </div>
        </div><br><br>
        <div class="card" style="width: 50rem; margin-left: 20%;">
            <img class="card-img-top" src="/static/img/arkadium.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">ARKADIUM</h5>
                <p class="card-text">Instantly play your favorite free online games including Solitaire, Mahjongg Dimensions, Bridge, Crossword, Word Wipe,
                and dozens more. Play now for free!.</p>
                <a href="https://www.arkadium.com/free-online-games/" target="_blank"s class="btn btn-primary">MORE</a>
            </div><br><br>
        </div>

</body>

</html>