<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <style>
      .btn {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  height: 10%;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
    </style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<br><br>
    <h1 style="font-size: 400%; text-align: center; color: rgb(250, 247, 60);"> QUARANTINED</h1>
    <div class="mainn">
  <!--<a href="#" class="btn btn-info" role="button" style="float: right; margin-top: 15px; margin-right: 30px;">Account</a>-->
    <div class="container-left">
      <h3 style="color: red; text-align: center;"><u> COVID INFO!!  </u></h3>
      <p style="padding-left: 5%;">Coronavirus disease is an infectious <br> disease caused by a newly discovered coronavirus.</p>
      <p style="padding-left: 5%;"><b>SYMPTOMS</b></p>
      <p style="padding-left: 5%;">COVID-19 affects different people in different ways.<br> Most infected people will develop mild to moderate illness<br>and
      recover without hospitalization.<br>
      
      Most common symptoms:<br>
      
      1) Fever.<br>
      2) Dry cough.<br>
      3) Tiredness.</p>
            <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="blank" style="padding-left: 5%;">Covid-19</a><br><br>
    </div>
    <div class="main" style="float: right; margin-top: 10%; padding-right: 20%;">
    <h1> &nbsp; &nbsp; &nbsp; &nbsp; Hello!!</h1>
    <h2>How's your mood today?</h2><br><br>
    <div class="one">
<a href="/page2" class="btn btn-info" role="button" style="padding: 4%; width:30%; border-radius: 15px;">Good</a><span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/page3" class="btn btn-info" role="button" style="padding: 4%; width:30%; border-radius: 15px;">Bad</a>


    </div>
  </div>
  </div>
  </body>
</html>