<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/entertainment.css">
    <title>

    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--<h1 style="color: blanchedalmond; text-align:center;">List of stuff related to dogs</h1><br><br><br>
<div class="card" style="width: 30rem; display: inline-block; margin-left: 30%;">
    <img class="card-img-top" src="/static/img/woof.jfif" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="text-align:center;"><a href="https://www.buzzfeed.com/hattiesoykan/the-100-best-dog-memes-of-all-time">Buzzfeed</a><hr></p><p style="text-align:center;"><a href="https://www.buzzfeed.com/hattiesoykan/the-100-best-dog-memes-of-all-time" style="text-align:center;">Buzzfeed</a></p><p style="text-align:center;">
        <hr></p><p style="text-align:center;"><a href="https://bestlifeonline.com/dog-memes/" style="text-align:center;">Best Life</a><hr></p><p style="text-align:center;"><a href="https://www.boredpanda.com/cute-wholesome-dog-puppy-memes/" style="text-align:center;">Bored Panda</a></p>
    <p style="text-align:center;"><hr></p><p style="text-align:center;"><a href="https://barkpost.com/humor/funny-dog-memes/" style="text-align:center;">Bark Post</a></p>

    </div>
</div>
    <br><br>-->
    <br><br><br>
    <div style="display: inline-block;">
        <img src="/static/img/w6.png" style="height: 40%; width: 30%; margin-left: 4%;">&nbsp;&nbsp;&nbsp;&nbsp;<img
            src="/static/img/w2.jpg" style="height: 30%; width: 30%;">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/w3.jpg"
            style="height: 30%; width: 30%;"><br><br><br>
        <img src="/static/img/w4.jpg" style="height: 40%; width: 30%; margin-left: 4%;">&nbsp;&nbsp;&nbsp;&nbsp;<img
            src="/static/img/w5.jpg" style="height: 30%; width: 30%;">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/w6.png"
            style="height: 30%; width: 30%;"><br><br><br>
    
        <img src="/static/img/w1.png" style="height: 40%; width: 30%; margin-left: 4%;">&nbsp;&nbsp;&nbsp;&nbsp;<img
            src="/static/img/w2.jpg" style="height: 30%; width: 30%;">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/w7.png"
            style="height: 30%; width: 30%;"><br>
    
    </div>

</body>

</html>